[submodule "pre-commit-hooks"]
	path = submodule_pre_commit_hooks
	url = git@github.com:pre-commit/pre-commit-hooks.git
[submodule "submodule_yamllint"]
	path = submodule_yamllint
	url = https://github.com/adrienverge/yamllint.git
