---
version: 2.1
orbs:
  lsk-python: lsk/python@2.0

workflows:
  main:
    jobs:
      - lsk-python/pre-commit:
          context: global
          executor-name: python
          executor-tag: "3.11"
